.widget-item {
  width: 50%;
  height: 4rem;
  padding: 1rem;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:nth-child(2n) {
    border-left: 2px solid var(--primary-color);
  }
  div {
    height: 100%;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__icon {
    font-size: 36px;
    color: var(--primary-color);
    margin-right: 0.5rem;
  }
  &__title {
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 600;
  }
  &__counter {
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 700;
    margin-left: 16px;
  }
}
