.window-controller {
  transition: 0.4s;
  &__title {
    h3 {
      font-size: 32px;
      text-align: center;
      margin: 25px auto;
    }
  }
  &__tabs {
    width: 100%;
    border-bottom: 2px solid dodgerblue;
    transition: 0.4s;
  }
  &__content{
    padding: 30px 20px;
  }
}
