.setter{
  h3{
    text-align: center;
  }
  &__container{
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
  }

  &__settings{
    display: flex;
    flex-direction: column;
    button, select{
      height: 30px;
      width: 100%;
      margin: 5px 0;
    }
  }
}